
@{
    Layout = null;
}

@System.Web.Optimization.Scripts.Render("~/bundles/jquery")
@System.Web.Optimization.Scripts.Render("~/Scripts/BlockUI")
@System.Web.Optimization.Scripts.Render("~/Scripts/MultiSelect")
<div class="pageHeader">
    New Audit Job
</div>

<div class="form">
    <div class="form-group">
        <label class="control-label col-sm-2">Select Audit Type:</label>
        <div class="col-sm-4">
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle " type="button" data-toggle="dropdown">
                    {{selectedAuditJob}}
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">

                    <li ng-repeat="auditType in auditDTOList">
                        <a ng-model="selectedAuditJob" ng-click="loadDynamicControls(auditType)">{{auditType.AuditName}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="form-group row audit-tab">
            <div class="process">
                <div class="process-row nav nav-tabs">
                    <div class="process-step">
                        <button type="button" class="btn btn-default btn-circle" data-toggle="tab" href="#selectParameters"><i class="fa fa-file-text-o fa-3x"></i></button>
                        <p><small>Fill<br />Parameters</small></p>
                    </div>
                    <div class="process-step">
                        <button type="button" class="btn btn-default btn-circle" data-toggle="tab" href="#configureTask"><i class="fa fa-cogs fa-3x"></i></button>
                        <p><small>Create<br />Task</small></p>
                    </div>
                </div>
            </div>
            <div class="tab-content">
                <div id="selectParameters" class="tab-pane fade active in">
                    <div ng-hide="hideDynamicControl" class="form-group">
                        <label class="control-label col-sm-2">{{paramaterLabel}}</label>
                        <div class="col-sm-4">
                            <ng-include id="ngInclude" ng-controller="AuditController" onload="item = auditParameterValuesList" src="tpl.contentUrl"></ng-include>
                        </div>
                    </div>
                    @*<ul class="list-unstyled list-inline pull-right">
                            <li><button type="button" class="btn btn-info next-step">Next <i class="fa fa-chevron-right"></i></button></li>
                        </ul>*@
                </div>
                <div id="configureTask" class="tab-pane fade">
                    <div ng-hide="hideDynamicControl" class="form-group">
                        <div class="col-sm-2 scheduler">
                            <div>
                                <input type="radio" ng-click="showScheduler('showOneTime')" name="checkboxes[249]" id="frm-test-elm-120-1" checked />
                                <div class="btn-group">
                                    <label for="frm-test-elm-120-1" class="btn btn-default">
                                        <span class="fa fa-check-circle-o fa-lg"></span>
                                        <span class="fa fa-circle-o fa-lg"></span>
                                    </label>
                                </div>
                                <label class="control-label" for="frm-test-elm-120-1">One Time </label>
                            </div>
                            <div>
                                <input ng-click="showScheduler('showDaily')" type="radio" name="checkboxes[249]" id="frm-test-elm-120-2" autocomplete="off" />
                                <div class="btn-group">
                                    <label for="frm-test-elm-120-2" class="btn btn-default">
                                        <span class="fa fa-check-circle-o fa-lg"></span>
                                        <span class="fa fa-circle-o fa-lg"></span>
                                    </label>
                                </div>
                                <label class="control-label" for="frm-test-elm-120-2">Daily</label>
                            </div>
                            <div>
                                <input ng-click="showScheduler('showWeekly')" type="radio" name="checkboxes[249]" id="frm-test-elm-120-3" autocomplete="off" />
                                <div class="btn-group">
                                    <label for="frm-test-elm-120-3" class="btn btn-default">
                                        <span class="fa fa-check-circle-o fa-lg"></span>
                                        <span class="fa fa-circle-o fa-lg"></span>
                                    </label>
                                </div>
                                <label class="control-label" for="frm-test-elm-120-3">Weekly</label>
                            </div>
                            <div>
                                <input ng-click="showScheduler('showMonthly')" type="radio" name="checkboxes[249]" id="frm-test-elm-120-4" autocomplete="off" />
                                <div class="btn-group">
                                    <label for="frm-test-elm-120-4" class="btn btn-default">
                                        <span class="fa fa-check-circle-o fa-lg"></span>
                                        <span class="fa fa-circle-o fa-lg"></span>
                                    </label>
                                </div>
                                <label class="control-label" for="frm-test-elm-120-4">Monthly</label>
                            </div>
                        </div>
                        <div class="col-sm-8 scheduler-right">
                            <div class="form-group row scheduler-right">
                                <label class="control-label col-sm-2">Start:</label>
                                <div class="col-sm-2">
                                    <div class='input-group date' id='datetimepicker'>
                                        <input type='text' class="form-control" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>

                                </div>
                            </div>
                            <div ng-show="showDaily" class="form-group row scheduler-right">
                                <label class="control-label col-sm-2">Recur Every:</label>
                                <div class="col-sm-2">
                                    <input type='text' class="form-control input-three-digit" />
                                </div>
                                <label class="control-label col-sm-2">{{recurrenceText}}</label>
                            </div>
                            <div ng-show="showWeekly" class="form-group row scheduler scheduler-right">
                                <div class="col col-sm-6 days-week">
                                    <input type="checkbox" name="checkboxes[100-0]" id="frm-test-elm-100-0" autocomplete="off" />
                                    <div class="btn-group">
                                        <label for="frm-test-elm-100-0" class="btn btn-default">
                                            <span class="fa fa-check-square-o fa-lg"></span>
                                            <span class="fa fa-square-o fa-lg"></span>
                                            <span class="content">Sunday</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col col-sm-6 days-week">
                                    <input type="checkbox" name="checkboxes[100-0]" id="frm-test-elm-100-1" autocomplete="off" />
                                    <div class="btn-group">
                                        <label for="frm-test-elm-100-1" class="btn btn-default">
                                            <span class="fa fa-check-square-o fa-lg"></span>
                                            <span class="fa fa-square-o fa-lg"></span>
                                            <span class="content">Monday</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col col-sm-6 days-week">
                                    <input type="checkbox" name="checkboxes[100-0]" id="frm-test-elm-100-2" autocomplete="off" />
                                    <div class="btn-group">
                                        <label for="frm-test-elm-100-2" class="btn btn-default">
                                            <span class="fa fa-check-square-o fa-lg"></span>
                                            <span class="fa fa-square-o fa-lg"></span>
                                            <span class="content">Tuesday</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col col-sm-6 days-week">
                                    <input type="checkbox" name="checkboxes[100-0]" id="frm-test-elm-100-3" autocomplete="off" />
                                    <div class="btn-group">
                                        <label for="frm-test-elm-100-3" class="btn btn-default">
                                            <span class="fa fa-check-square-o fa-lg"></span>
                                            <span class="fa fa-square-o fa-lg"></span>
                                            <span class="content">Wednesday</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div ng-show="showWeekly" class="form-group row scheduler scheduler-right">
                                <div class="col col-sm-6 days-week">
                                    <input type="checkbox" name="checkboxes[100-0]" id="frm-test-elm-100-4" autocomplete="off" />
                                    <div class="btn-group">
                                        <label for="frm-test-elm-100-4" class="btn btn-default">
                                            <span class="fa fa-check-square-o fa-lg"></span>
                                            <span class="fa fa-square-o fa-lg"></span>
                                            <span class="content">Thursday</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col col-sm-6 days-week">
                                    <input type="checkbox" name="checkboxes[100-0]" id="frm-test-elm-100-5" autocomplete="off" />
                                    <div class="btn-group">
                                        <label for="frm-test-elm-100-5" class="btn btn-default">
                                            <span class="fa fa-check-square-o fa-lg"></span>
                                            <span class="fa fa-square-o fa-lg"></span>
                                            <span class="content">Friday</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col col-sm-6 days-week">
                                    <input type="checkbox" name="checkboxes[100-0]" id="frm-test-elm-100-6" autocomplete="off" />
                                    <div class="btn-group">
                                        <label for="frm-test-elm-100-6" class="btn btn-default">
                                            <span class="fa fa-check-square-o fa-lg"></span>
                                            <span class="fa fa-square-o fa-lg"></span>
                                            <span class="content">Saturday</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div ng-show="showMonthly" class="form-group row  scheduler-right">
                                <label class="control-label col-sm-2">Months:</label>
                                <div class="col-sm-4">
                                    <select id="months" multiple="multiple">
                                        <option value="Jan">January</option>
                                        <option value="Feb">February</option>
                                        <option value="Mar">March</option>
                                        <option value="Apr">April</option>
                                        <option value="May">May</option>
                                        <option value="June">June</option>
                                        <option value="Jul">July</option>
                                        <option value="Aug">August</option>
                                        <option value="Sep">September</option>
                                        <option value="Oct">October</option>
                                        <option value="Nov">November</option>
                                        <option value="Dec">Decemeber</option>
                                    </select>
                                </div>
                            </div>
                            <div ng-show="showMonthly" id="divDays" class="form-group row  scheduler-right">
                                <div class="scheduler scheduler-month col-sm-2">
                                    <input type="radio" ng-click="showScheduler('Days')" name="checkboxes[250]" id="frm-test-elm-120-days" autocomplete="off" checked />
                                    <div class="btn-group">
                                        <label for="frm-test-elm-120-days" class="btn btn-default">
                                            <span class="fa fa-check-circle-o fa-lg"></span>
                                            <span class="fa fa-circle-o fa-lg"></span>
                                        </label>
                                    </div>
                                    <label class="control-label" for="frm-test-elm-120-days">Days:</label>
                                </div>
                                <div ng-class="{'disabled':isApplyClassDays}" id="divDays">
                                    <div class="col-sm-4">
                                        <select id="days" multiple="multiple">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                            <option value="10">10</option>
                                            <option value="11">11</option>
                                            <option value="12">12</option>
                                            <option value="13">13</option>
                                            <option value="14">14</option>
                                            <option value="15">15</option>
                                            <option value="16">16</option>
                                            <option value="17">17</option>
                                            <option value="18">18</option>
                                            <option value="19">19</option>
                                            <option value="20">20</option>
                                            <option value="21">21</option>
                                            <option value="22">22</option>
                                            <option value="23">23</option>
                                            <option value="24">24</option>
                                            <option value="25">25</option>
                                            <option value="26">26</option>
                                            <option value="27">27</option>
                                            <option value="28">28</option>
                                            <option value="29">29</option>
                                            <option value="30">30</option>
                                            <option value="31">31</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div ng-show="showMonthly" class="form-group row  scheduler-right">
                                <div class="scheduler scheduler-month col-sm-2">
                                    <input type="radio" ng-click="showScheduler('On')" name="checkboxes[250]" id="frm-test-elm-120-on" autocomplete="off" />
                                    <div class="btn-group">
                                        <label for="frm-test-elm-120-on" class="btn btn-default">
                                            <span class="fa fa-check-circle-o fa-lg"></span>
                                            <span class="fa fa-circle-o fa-lg"></span>
                                        </label>
                                    </div>

                                    <label class="control-label" for="frm-test-elm-120-on">On:</label>
                                </div>
                                <div ng-class="{'disabled':isApplyClassOn}" id="divOn">
                                    <div class="col-sm-4">
                                        <select id="numbers" multiple="multiple">
                                            <option value="First">First</option>
                                            <option value="Second">Second</option>
                                            <option value="Third">Third</option>
                                            <option value="Fourth">Fourth</option>
                                            <option value="Last">Last</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-4">
                                        <select id="weekDays" multiple="multiple">
                                            <option value="Sunday">Sunday</option>
                                            <option value="Monday">Monday</option>
                                            <option value="Tuesday">Tuesday</option>
                                            <option value="Wednesday">Wednesday</option>
                                            <option value="Thursday">Thursday</option>
                                            <option value="Friday">Friday</option>
                                            <option value="Saturday">Saturday</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <ul class="list-unstyled list-inline pull-right ulDone">
                        @*<li><button type="button" class="btn btn-default prev-step"><i class="fa fa-chevron-left"></i> Back</button></li>*@
                        <li><button type="button" class="btn btn-success"><i class="fa fa-check"></i> Done</button></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>
<link href="~/Content/process-tab.css" rel="stylesheet" />
<link href="~/Content/bootstrap-multiselect.css" rel="stylesheet" />
<script src="~/Scripts/process-tab.js"></script>
<link href="~/Content/scheduler.css" rel="stylesheet" />
<link href="~/Content/bootstrap-datetimepicker.css" rel="stylesheet" />
<script src="~/Scripts/moment.min.js"></script>
<script src="~/Scripts/moment-with-locales.min.js"></script>
<script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
<script src="~/Scripts/datetimepickerDirective.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

<script type="text/javascript">
    $(document).ready(function () {

        $('#months').multiselect({
            includeSelectAllOption: true,
            maxHeight: 200,
            nonSelectedText: 'Select Month'
        });

        $('#days').multiselect({
            includeSelectAllOption: true,
            maxHeight: 200,
            buttonWidth: "324px",
            nonSelectedText: 'Select Date'
        });

        $('#numbers').multiselect({
            includeSelectAllOption: true
        });

        $('#weekDays').multiselect({
            includeSelectAllOption: true,
            nonSelectedText: 'Select Day'
        });


        $('#datetimepicker').datetimepicker({

            useCurrent: false
        });

    });


</script>
