
@{
    Layout = null;
}
<div class="pageHeader">
    New Audit Job
</div>
<div class="form">
    <div class="container">
        <form class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-sm-2">Select Audit Type:</label>
                <div class="col-sm-4">
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle " type="button" data-toggle="dropdown">
                            {{selectedAuditJob}}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a ng-click="loadDynamicControls('Select Audit Job')"></a></li>
                            <li ng-repeat="auditType in auditDTOList">
                                <a ng-model="selectedAuditJob" ng-click="loadDynamicControls(auditType)">{{auditType.AuditName}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div ng-hide="hideDynamicControl" class="form-group">
                <label class="control-label col-sm-2">{{paramaterLabel}}</label>
                <div class="col-sm-4">
                    <ng-include id="ngInclude" ng-controller="AuditController" onload="item = auditParameterValuesList" src="tpl.contentUrl"></ng-include>
                </div>
            </div>
            <div ng-hide="hideDynamicControl" class="form-group">
                <div class="col-sm-2 scheduler">
                    <div>
                        <input type="radio" name="checkboxes[249]" id="frm-test-elm-120-1" autocomplete="off" checked />
                        <div class="btn-group">
                            <label for="frm-test-elm-120-1" class="btn btn-default">
                                <span class="fa fa-check-circle-o fa-lg"></span>
                                <span class="fa fa-circle-o fa-lg"></span>
                            </label>
                        </div>
                        <label class="control-label" for="frm-test-elm-120-2">One Time </label>
                    </div>
                    <div>
                        <input type="radio" name="checkboxes[249]" id="frm-test-elm-120-2" autocomplete="off" />
                        <div class="btn-group">
                            <label for="frm-test-elm-120-2" class="btn btn-default">
                                <span class="fa fa-check-circle-o fa-lg"></span>
                                <span class="fa fa-circle-o fa-lg"></span>
                            </label>
                        </div>
                        <label class="control-label" for="frm-test-elm-120-2">Daily</label>
                    </div>
                    <div>
                        <input type="radio" name="checkboxes[249]" id="frm-test-elm-120-3" autocomplete="off" />
                        <div class="btn-group">
                            <label for="frm-test-elm-120-3" class="btn btn-default">
                                <span class="fa fa-check-circle-o fa-lg"></span>
                                <span class="fa fa-circle-o fa-lg"></span>
                            </label>
                        </div>
                        <label class="control-label" for="frm-test-elm-120-2">Weekly</label>
                    </div>
                    <div>
                        <input type="radio" name="checkboxes[249]" id="frm-test-elm-120-4" autocomplete="off" />
                        <div class="btn-group">
                            <label for="frm-test-elm-120-4" class="btn btn-default">
                                <span class="fa fa-check-circle-o fa-lg"></span>
                                <span class="fa fa-circle-o fa-lg"></span>
                            </label>
                        </div>
                        <label class="control-label" for="frm-test-elm-120-2">Monthly</label>
                    </div>
                </div>
                <div class="col-sm-8 scheduler-right">
                    <div class="form-group row scheduler-right">
                        <label class="control-label col-sm-2">Start:</label>
                        <div class="col-sm-2">
                            <div class='input-group date' id='datetimepicker1'>
                                <input type='text' class="form-control" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>

                        </div>
                    </div>
                    <div class="form-group row scheduler-right">
                        <label class="control-label col-sm-2">Recur Every:</label>
                        <div class="col-sm-2">
                            <input type='text' class="form-control input-three-digit" />
                        </div>
                        <label class="control-label col-sm-2">days</label>
                    </div>
                    <div class="form-group row scheduler scheduler-right">
                        <div class="col col-sm-6 days-week">
                            <input type="checkbox" name="checkboxes[100-0]" id="frm-test-elm-100-0" autocomplete="off" />
                            <div class="btn-group">
                                <label for="frm-test-elm-100-0" class="btn btn-default">
                                    <span class="fa fa-check-square-o fa-lg"></span>
                                    <span class="fa fa-square-o fa-lg"></span>
                                    <span class="content">Sunday</span>
                                </label>
                            </div>
                        </div>
                        <div class="col col-sm-6 days-week">
                            <input type="checkbox" name="checkboxes[100-0]" id="frm-test-elm-100-1" autocomplete="off" />
                            <div class="btn-group">
                                <label for="frm-test-elm-100-1" class="btn btn-default">
                                    <span class="fa fa-check-square-o fa-lg"></span>
                                    <span class="fa fa-square-o fa-lg"></span>
                                    <span class="content">Monday</span>
                                </label>
                            </div>
                        </div>
                        <div class="col col-sm-6 days-week">
                            <input type="checkbox" name="checkboxes[100-0]" id="frm-test-elm-100-2" autocomplete="off" />
                            <div class="btn-group">
                                <label for="frm-test-elm-100-2" class="btn btn-default">
                                    <span class="fa fa-check-square-o fa-lg"></span>
                                    <span class="fa fa-square-o fa-lg"></span>
                                    <span class="content">Tuesday</span>
                                </label>
                            </div>
                        </div>
                        <div class="col col-sm-6 days-week">
                            <input type="checkbox" name="checkboxes[100-0]" id="frm-test-elm-100-3" autocomplete="off" />
                            <div class="btn-group">
                                <label for="frm-test-elm-100-3" class="btn btn-default">
                                    <span class="fa fa-check-square-o fa-lg"></span>
                                    <span class="fa fa-square-o fa-lg"></span>
                                    <span class="content">Wednesday</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row scheduler scheduler-right">
                        <div class="col col-sm-6 days-week">
                            <input type="checkbox" name="checkboxes[100-0]" id="frm-test-elm-100-4" autocomplete="off" />
                            <div class="btn-group">
                                <label for="frm-test-elm-100-4" class="btn btn-default">
                                    <span class="fa fa-check-square-o fa-lg"></span>
                                    <span class="fa fa-square-o fa-lg"></span>
                                    <span class="content">Thursday</span>
                                </label>
                            </div>
                        </div>
                        <div class="col col-sm-6 days-week">
                            <input type="checkbox" name="checkboxes[100-0]" id="frm-test-elm-100-5" autocomplete="off" />
                            <div class="btn-group">
                                <label for="frm-test-elm-100-5" class="btn btn-default">
                                    <span class="fa fa-check-square-o fa-lg"></span>
                                    <span class="fa fa-square-o fa-lg"></span>
                                    <span class="content">Friday</span>
                                </label>
                            </div>
                        </div>
                        <div class="col col-sm-6 days-week">
                            <input type="checkbox" name="checkboxes[100-0]" id="frm-test-elm-100-6" autocomplete="off" />
                            <div class="btn-group">
                                <label for="frm-test-elm-100-6" class="btn btn-default">
                                    <span class="fa fa-check-square-o fa-lg"></span>
                                    <span class="fa fa-square-o fa-lg"></span>
                                    <span class="content">Saturday</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row scheduler scheduler-right">
                        <label class="control-label col-sm-2">Months:</label>
                        <div class="col-sm-4">
                            <div class='input-group date' id='datetimepicker1'>
                                <input type='text' class="form-control" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
<style type="text/css">
    /* Checkbox and Radio buttons */
    .scheduler input[type="radio"],
    .scheduler input[type="checkbox"] {
        display: none;
    }

        .scheduler input[type="checkbox"] + .btn-group > label,
        .scheduler input[type="radio"] + .btn-group > label {
            white-space: normal;
        }

            .scheduler input[type="checkbox"] + .btn-group > label.btn-default,
            .scheduler input[type="radio"] + .btn-group > label.btn-default {
                color: #333;
                background-color: #fff;
                border-color: #ccc;
            }

            .scheduler input[type="checkbox"] + .btn-group > label.btn-primary,
            .scheduler input[type="radio"] + .btn-group > label.btn-primary {
                color: #fff;
                background-color: #428bca;
                border-color: #357ebd;
            }

            .scheduler input[type="checkbox"] + .btn-group > label.btn-success,
            .scheduler input[type="radio"] + .btn-group > label.btn-success {
                color: #fff;
                background-color: #5cb85c;
                border-color: #4cae4c;
            }

            .scheduler input[type="checkbox"] + .btn-group > label.btn-info,
            .scheduler input[type="radio"] + .btn-group > label.btn-info {
                color: #fff;
                background-color: #5bc0de;
                border-color: #46b8da;
            }

            .scheduler input[type="checkbox"] + .btn-group > label.btn-warning,
            .scheduler input[type="radio"] + .btn-group > label.btn-warning {
                color: #fff;
                background-color: #f0ad4e;
                border-color: #eea236;
            }

            .scheduler input[type="checkbox"] + .btn-group > label.btn-danger,
            .scheduler input[type="radio"] + .btn-group > label.btn-danger {
                color: #fff;
                background-color: #d9534f;
                border-color: #d43f3a;
            }

            .scheduler input[type="checkbox"] + .btn-group > label.btn-link,
            .scheduler input[type="radio"] + .btn-group > label.btn-link {
                font-weight: normal;
                color: #428bca;
                border-radius: 0;
            }

            .scheduler input[type="radio"] + .btn-group > label span:first-child,
            .scheduler input[type="checkbox"] + .btn-group > label span:first-child {
                display: none;
            }

                .scheduler input[type="radio"] + .btn-group > label span:first-child + span,
                .scheduler input[type="checkbox"] + .btn-group > label span:first-child + span {
                    display: inline-block;
                }

        .scheduler input[type="radio"]:checked + .btn-group > label span:first-child,
        .scheduler input[type="checkbox"]:checked + .btn-group > label span:first-child {
            display: inline-block;
        }

            .scheduler input[type="radio"]:checked + .btn-group > label span:first-child + span,
            .scheduler input[type="checkbox"]:checked + .btn-group > label span:first-child + span {
                display: none;
            }

        .scheduler input[type="checkbox"] + .btn-group > label span[class*="fa-"],
        .scheduler input[type="radio"] + .btn-group > label span[class*="fa-"] {
            width: 15px;
            float: left;
            margin: 4px 0 2px -2px;
        }

        .scheduler input[type="checkbox"] + .btn-group > label span.content,
        .scheduler input[type="radio"] + .btn-group > label span.content {
            margin-left: 10px;
        }

    .scheduler {
        border-right: 1px solid black;
        padding: 15px;
    }

    .scheduler-right {
        padding: 0px;
        margin-left: 25px;
        border-right: 0px solid black;
        margin-bottom: 5px;
    }

        .scheduler-right .col-sm-4 {
            padding-right: 0;
            padding-left: 5px;
            width: 28.333333%;
        }

        .scheduler-right .col-sm-6 {
            padding-right: 0;
            padding-left: 5px;
        }

        .scheduler-right .col-sm-2 {
            padding-right: 0;
            padding-left: 5px;
        }

    .input-three-digit {
        width: 100%;
    }

    .days-week {
        width: 135px;
    }

        .days-week .btn-default {
            width: 130px;
        }
    /* End::Checkbox and Radio buttons */
</style>
