<?xml version="1.0"?>
<configuration>
  <appSettings>

    <add key="StorageProviderType" value="BallyTech.Infrastructure.Configuration.SqlStorageProvider, BallyTech.Infrastructure.Utilities, Version=3.0.0.0, Culture=neutral, PublicKeyToken=c03530e9d763a944, processorArchitecture=MSIL"/>
    <add key="StorageProviderConnection" value="Data Source=ConfigStore\PlatformConfigDB.sdf"/>
    <add key="ResourceDBProviderType" value="BallyTech.Library.ResourceManager.SqlCEDataProvider, BallyTech.Library.ResourceManager"/>
    <add key="ResourceDbPath" value="ConfigStore\Resource.sdf"/>
    <add key="ResourceConfigDbPath" value="..\..\ConfigStore\Resource.sdf"/>
    <add key="SerializerType" value="BallyTech.Infrastructure.Serialization.XmlSerialization, BallyTech.Infrastructure.Utilities, Version=3.0.0.0, Culture=neutral, PublicKeyToken=c03530e9d763a944, processorArchitecture=MSIL"/>
    <add key="PlatformConfigDbPath" value="D:\TestApplication\NightlyAuditServer\NightlyAuditServer\ConfigStore\PlatformConfigDB.sdf"/>
    <add key="PlatformAPITestConfigDbPath" value="..\..\..\Platform.API.Test\ConfigStore\PlatformConfigDB.sdf"/>
    <add key="MessagingHost" value="ALH.Enterprise.CMP"/>
    <add key="MessagingHostURI" value="http://localhost:9898/"/>
    <add key="WebAPIServiceHostURI" value="net.tcp://localhost:8001"/>
    <add key="WebAPIServiceType" value="BallyTech.Platform.API.Service, BallyTech.Platform.API"/>
    <add key="HTTPServiceHostURI" value="http://localhost:8002/Enterprise"/>
    <add key="HTTPServiceType" value="BallyTech.Platform.API.HTTPService, BallyTech.Platform.API"/>
	<add key="RoutinesHostURI" value="http://localhost:9960/"/>
	<add key="SchedulerHostURI" value="http://localhost:8100/Scheduler/Scheduling"/>
	<add key="CrossPropertyTicketingHostURI" value="http://localhost:8792/"/>
    <add key="GroupName" value="PowerVenuePlatformService" />
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
  </startup>
</configuration>
