
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AuditLayout.cshtml";
}
<div id="partialView">
    @*<h2 style="background-color:white">{{Message}}</h2>*@
    <h2 style="background-color:white">Red</h2>
</div>

