<div>
    <div class="checkbox " data-ng-repeat="auditParameterValue in auditParameterValuesList">
        <label><input type="checkbox" ng-model="auditParameterValue.Flag">{{auditParameterValue.Value}}</label>
    </div>
</div>

